* {
    box-sizing: border-box;
}

html {
    --room-color-text: white;
    --room-color-background: #2a2a2a;
    --room-color-task: #ff5;
    --room-size-gap: 0.5rem;
    --room-size-border: 0.25rem;
    height: 100dvh;
    overflow: hidden;
    overflow-wrap: break-word;
    font: medium / 1.5 sans-serif;
    image-rendering: pixelated;
    color: var(--room-color-text);
    background: black;
    /* Disable zooming */
    touch-action: none;
}

body {
    height: 100%;
    margin: unset;
}

.block,
h1,
h2,
h3,
p,
ul,
button,
fieldset {
    display: block;
    padding: var(--room-size-gap);
    margin: unset;
}

.block:empty,
h1:empty,
h2:empty,
h3:empty,
p:empty,
ul:empty,
button:empty,
fieldset:empty {
    display: none;
}

h1,
h2,
h3 {
    border-bottom: var(--room-size-border) solid;
    font-size: unset;
    font-weight: unset;
}

h1,
h2 {
    font-weight: bold;
}

button,
a.block,
label {
    border: unset;
    font: unset;
    text-align: unset;
    text-decoration: unset;
    color: unset;
    background: unset;
}

button:not(:first-child),
a.block:not(:first-child),
label:not(:first-child) {
    border-top: var(--room-size-border) solid var(--room-color-text);
}

button {
    width: 100%;
}

button,
a.block,
label,
[tabindex] {
    cursor: pointer;
}

button:focus,
button:hover,
a.block:focus,
a.block:hover,
label:focus-within,
label:hover,
[tabindex]:focus,
[tabindex]:hover {
    outline: unset;
    color: var(--room-color-background);
    background: var(--room-color-text);
}

form:invalid button:not([type=button]) {
    color: var(--room-color-task);
}

fieldset {
    border: unset;
}

small.task {
    display: block;
    padding-inline: var(--room-size-gap);
    color: var(--room-color-task);
}

input:valid + small.task {
    display: none;
}

header {
    display: flex;
}

header:not(:last-child) {
    border-bottom: var(--room-size-border) solid;
}

header h2,
header h3 {
    border: unset;
    flex: auto;
}

header button {
    box-sizing: content-box;
    width: unset;
    min-width: 1.5em;
    text-align: center;
}

header button:not(:first-child) {
    border-top: unset;
    border-left: var(--room-size-border) solid var(--room-color-text);
}

small {
    font-size: 0.8125rem;
}

.card {
    /* Specify color for button cards */
    border: var(--room-size-border) solid var(--room-color-text);
}

.blendable {
    position: relative;
}

.blendable::after {
    position: absolute;
    inset: 0;
    content: "";
    background: white;
    opacity: 0;
    transition: opacity linear 0.125s;
}

.blended::after {
    opacity: 1;
}

/**
 * Contextual: Contextual content for an element.
 *
 * Wrapped around a focusable element and its accompanying contextual content. Note that the element
 * cannot be a button, as buttons do not receive focus on click in some browsers, e.g. Safari (see
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#clicking_and_focus).
 */

.contextual {
    position: relative;
}

.contextual > :last-child {
    position: absolute;
    z-index: 1;
    border: var(--room-size-border) solid;
    background: var(--room-color-background);
    white-space: nowrap;
}

.contextual:not(:focus-within) > :last-child {
    height: 0;
    border: unset;
    overflow: hidden;
}

.contextual-reversed > :last-child {
    bottom: 100%;
}

.contextual > ul:last-child {
    padding: unset;
}

.contextual > ul:last-child > li {
    display: block;
    padding: var(--room-size-gap);
}

.icon {
    height: 1em;
    vertical-align: calc(-1em / 8);
}

.tile {
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
}

.placeholder {
    border: var(--room-size-border) solid transparent;
    background:
        linear-gradient(to right, currentcolor 50%, transparent 50%) top left /
            calc(2 * var(--room-size-border)) var(--room-size-border) repeat-x,
        linear-gradient(currentcolor 50%, transparent 50%) top left /
            var(--room-size-border) calc(2 * var(--room-size-border)) repeat-y,
        linear-gradient(to right, transparent 50%, currentcolor 50%) bottom right /
            calc(2 * var(--room-size-border)) var(--room-size-border) repeat-x,
        linear-gradient(transparent 50%, currentcolor 50%) bottom right /
            var(--room-size-border) calc(2 * var(--room-size-border)) repeat-y;
    background-origin: border-box;
}

.room-window {
    position: absolute;
    inset: var(--room-size-gap) var(--room-size-gap) auto var(--room-size-gap);
    max-height: calc(100% - 2 * var(--room-size-gap));
    overflow: hidden auto;
    background: var(--room-color-background);
    /* Enable window scrolling */
    touch-action: pan-y;
}

.room-window:not(.room-window-open) {
    display: none;
}

.room-window-maximized {
    bottom: var(--room-size-gap);
}

.room-entity {
    --room-entity-x: 0;
    --room-entity-y: 0;
    --room-entity-image: none;
    display: block;
    position: absolute;
    inset: 0 auto auto 0;
    width: 8px;
    height: 8px;
    translate: calc(var(--room-entity-x) - 50%) calc(var(--room-entity-y) - 50%);
    background: var(--room-entity-image);
}
